// Imports
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

// Red
$primary-color: #d41500;
$text-color: white;

// Widths
$input-width: 250px;
$input-width-max: 300px;
$input-width-min: 200px;

// Heights
$input-height: 400px;
$input-height-max: 500px;
$input-height-min: 300px;

$font: Roboto;

body {
  font-family: $font;
  padding-bottom: 70px;
  background: #eeeeee
}

// Centers title and reduces font size on small screens
.page-title {
  margin: 12px auto 0 auto;
  text-align: center;
  text-shadow: 0 0 2px black;
  
  @media screen and (max-width:450px) {
    font-size: 20px;
    margin-top: 15px;
  }
}

.nav-top {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $text-color;
  box-shadow: 0 1px 1px black;
}

.nav-bottom {
  box-shadow: 0 -1px 1px;
  padding: 10px;
}

// Hides upload input field and moves out of way
.upload {
  position: absolute;
  visibility: hidden;
  size: 0 0
}

// Adjusts centering and width of textarea
.responsive-width {
  width: $input-width;
  height: $input-height;
  
  @media screen and (min-width: 1000px) {
    width: $input-width-max;
    height: $input-height-max;
  }

  @media screen and (max-width: 999px) {
    width: $input-width-min;
    height: $input-height-min;
  }
}

// Hides side padding spans when screen is small
.small-hide {
  @media screen and (max-width: 1000px) {
    visibility: hidden;
  }
}

.bottom-buttons-container {
  $buttonSize: 75px;
  $marginSize: 8px;
  width: $buttonSize * 3 + $marginSize * 6;
  margin: 3px auto;
  
  .button-container {
    width: $buttonSize;
    display: inline;
    margin: 0 $marginSize;
  }
  
  .btn {
    width: $buttonSize;
  }
}

#text-input {
  // box-shadow: 0 1px 1px;
  border-radius: 5px;
  padding: 5px;
  height: $input-height;
  width: 100%;
}